<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <?if $(var.architecture) = "x64" ?>
    <?define programFiles = ProgramFiles64Folder ?>
  <?else ?>
    <?define programFiles = ProgramFilesFolder ?>
  <?endif?>
  
  <Product Name='sFlow agent' Id='74FFB15C-03C1-4B7D-809F-939A5C57F659'
           UpgradeCode='6B6EFCDA-8BB0-4F3A-BEF4-BBA53C3D8990'
           Language='1033' Codepage='1252' Version='$(var.version)'
           Manufacturer='InMon Corp.'>

    <Package Keywords='Installer' Description='sFlow agent installer'
             Manufacturer='Host sFlow project'
             InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='hsflowd.cab' EmbedCab='yes' />

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
  
    <Upgrade Id="6B6EFCDA-8BB0-4F3A-BEF4-BBA53C3D8990">
      <UpgradeVersion Minimum="$(var.version)" IncludeMinimum="no" OnlyDetect="yes"
                      Language="1033" Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes"
                      Maximum="$(var.version)" IncludeMaximum="no"
                      Language="1033" Property="UPGRADEFOUND" />
    </Upgrade>
    <Upgrade Id="9A2E85AB-2D5F-4CC1-9EA3-003788A1B2DE">
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes"
                      Maximum="1.0.0" IncludeMaximum="yes"
                      Language="1033" Property="LEGACYFOUND" />
    </Upgrade>

    <Property Id='SFLOW_PARAMS_KEY' Value='SYSTEM\CurrentControlSet\Services\hsflowd\Parameters' />
    <Property Id='COLLECTOR_VALUE' Value='localhost'>
      <RegistrySearch Id='ExistingCollectorValue'
                      Root='HKLM' Key='[SFLOW_PARAMS_KEY]'
                      Name='collector' Type='raw' />
    </Property>
    <Property Id='POLLING_VALUE' Value='20'>
      <RegistrySearch Id='ExistingPollingValue'
                      Root='HKLM' Key='[SFLOW_PARAMS_KEY]'
                      Name='pollingInterval' Type='raw' />
    </Property>
    <Property Id='SAMPLING_VALUE' Value='256'>
      <RegistrySearch Id='ExistingSamplingValue'
                      Root='HKLM' Key='[SFLOW_PARAMS_KEY]'
                      Name='samplingRate' Type='raw' />
    </Property>
    
    <!-- Properties required for SCVMM -->
    <?ifdef extension ?>
      <Property Id='Description' Value='sFlow agent for Hyper-V' />
      <Property Id='DriverID' Value='{AF8CAD53-C7B7-420C-9439-135A87818A64}' />
      <Property Id='DriverVersion' Value='$(var.driverVersion)' />
      <Property Id='DriverInstallParams' Value='/q' />
      <Property Id='ExtensionType' Value='Capture' />
    <?endif ?>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='$(var.programFiles)' Name='PFiles'>
        <Directory Id='HostsFlowProject' Name='Host sFlow Project'>
          <Directory Id='INSTALLDIR' Name='Host sFlow Agent'>
            <?ifdef extension ?>
              <Directory Id='Extension' Name='Extension'>
              </Directory>
            <?endif ?>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    <DirectoryRef Id='INSTALLDIR' FileSource ='$(var.sourceDir)'>
      <Component Id='HostSFlow' Guid='3CB7FD01-D1AB-4FC5-8A63-971F9C0A09A6'>
        <File Id='hsflowd.exe' Name='hsflowd.exe' DiskId='1' KeyPath='yes' />
        <ServiceInstall Id="HostSFlowService" Type="ownProcess" Vital="yes"
                        Name="hsflowd" DisplayName="Host sFlow Agent"
                        Description="sFlow agent providing host and network support"
                        Start="auto" Account="LocalSystem"
                        ErrorControl="ignore" Interactive="no" />
        <ServiceControl Id="ServiceControl"  Name="hsflowd" Wait="yes"
                        Start="install" Stop="both" Remove="uninstall" />
      </Component>
    </DirectoryRef>

    <?ifdef extension ?>
      <DirectoryRef Id='Extension' FileSource ='$(var.driverSourceDir)'>
        <Component Id='sFlowExtension' Guid='07DE8FE4-ACB3-4AAB-BF16-933559E4953F'>
          <Condition><![CDATA[(VersionNT64 >= 602) AND (HYPERV_PRESENT = "1")]]></Condition>
          <File Id='sflowfilter.sys' Name='sflowfilter.sys' DiskId='1' KeyPath='yes' />
          <File Id='sflowfilter.inf' Name='sflowfilter.inf' DiskId='1' />
          <File Id='sflowfilter.cat' Name='sflowfilter.cat' DiskId='1' />
        </Component>
      </DirectoryRef>
    <?endif ?>

    <DirectoryRef Id='TARGETDIR'>
      <Component Id="RegistryConfiguration" Guid="456B3793-F77E-43EF-89AA-FA7AC33844C9">
        <RegistryKey Root="HKLM" Key="[SFLOW_PARAMS_KEY]" >
          <RegistryValue Type="string" Name="collector" Value="[COLLECTOR_VALUE]" KeyPath="yes" />
          <RegistryValue Type="integer" Name="pollingInterval" Value="[POLLING_VALUE]" />
          <RegistryValue Type="integer" Name="samplingRate" Value="[SAMPLING_VALUE]" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
      
    <Feature Id='Complete' Title='Host sFlow Agent' Description='The complete package.'
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>
        <ComponentRef Id='HostSFlow' />
        <?ifdef extension ?>
          <ComponentRef Id='sFlowExtension' />
        <?endif ?>
        <ComponentRef Id='RegistryConfiguration' />
      </Feature>
    </Feature>

    <?ifdef extension ?>
      <Binary Id='protinst.dll' SourceFile='$(var.driverSourceDir)\protinst.dll' />
    <?endif ?>
    <Binary Id='installHelper.dll' SourceFile='$(var.sourceDir)\installHelper.dll' />
    
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <CustomAction Id='CleanPollingInterval' BinaryKey='installHelper.dll'
                  DllEntry='cleanPollingInterval' Execute='firstSequence' />
    <CustomAction Id='CleanSamplingRate' BinaryKey='installHelper.dll'
                  DllEntry='cleanSamplingRate' Execute='firstSequence' />
    <CustomAction Id='ValidateUI' BinaryKey='installHelper.dll'
                  DllEntry='validateUI' />
    <CustomAction Id="CustomExitDialogText" Property="WIXUI_EXITDIALOGOPTIONALTEXT"
                  Value="Thank you for installing [ProductName]. To complete the installation, please enable the sFlow extension in your virtual switches, using the Hyper-V virtual switch manager."/>

    <?ifdef extension ?>
      <CustomAction Id='SetUninstallExtnParams' Property='UninstallExtension'
                    Value='-u sflowfilter' />
      <CustomAction Id='UninstallExtension' BinaryKey='protinst.dll'
                    DllEntry='protinstDLL'
                    Execute='deferred' Impersonate='no' Return='ignore' />
      <CustomAction Id='SetInstallExtnParams' Property='InstallExtension'
                    Value='-i sflowfilter "[Extension]sflowfilter.inf"' />
      <CustomAction Id='InstallExtension' BinaryKey='protinst.dll'
                    DllEntry='protinstDLL'
                    Execute='deferred' Impersonate='no' Return='check' />
      <CustomAction Id='HyperVPresent' BinaryKey='installHelper.dll'
                    DllEntry='testForHyperV' />
    <?endif ?>
    
    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">
        NEWPRODUCTFOUND
      </Custom>
      <Custom Action='CleanPollingInterval' After='AppSearch' />
      <Custom Action='CleanSamplingRate' After='AppSearch' />
      <?ifdef extension ?>
        <Custom Action='HyperVPresent' After='AppSearch'>
          <![CDATA[VersionNT64 >= 602]]>
        </Custom>
        <Custom Action='CustomExitDialogText' After="HyperVPresent">
          <![CDATA[(NOT Installed) AND (HYPERV_PRESENT = "1")]]>
        </Custom>
      <?endif ?>
    </InstallUISequence>
    
    <InstallExecuteSequence>
      <Custom Action="SetUninstallExtnParams" After="CostFinalize" />
      <Custom Action="SetInstallExtnParams" After="CostFinalize" />
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
      <?ifdef extension ?>
        <Custom Action='HyperVPresent' After='AppSearch'>
          <![CDATA[VersionNT64 >= 602]]>
        </Custom>
        <Custom Action='UninstallExtension' After='StopServices'>
          <![CDATA[(VersionNT64 >= 602) AND (HYPERV_PRESENT = "1")]]>
        </Custom>
        <Custom Action='InstallExtension' Before='StartServices'>
          <![CDATA[$sFlowExtension = 3]]>
        </Custom>
      <?endif ?>
    </InstallExecuteSequence>

    <UI Id="sFlowInstallDir">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
 
      <Dialog Id="ConfigDlg" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes">
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Set the sFlow collector address and sampling parameters" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Set sampling parameters" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Id="CollectorLabel" Type="Text" X="20" Y="60" Width="100" Height="15" NoPrefix= "yes" RightAligned="yes" Text="sFlow collector:" />
        <Control Id="Collector" Type="Edit" Property="COLLECTOR_VALUE" X="122" Y="58" Width="130" Height="15" />
        <Control Id="PollingLabel" Type="Text" X="20" Y="90" Width="100" Height="15" NoPrefix= "yes" RightAligned="yes" Text="Counter polling interval (s):" />
        <Control Id="PollingInterval" Type="Edit" Property="POLLING_VALUE" X="122" Y="88" Width="130" Height="15" />
        <Control Id="SamplingLabel" Type="Text" X="20" Y="120" Width="100" Height="15" NoPrefix= "yes" RightAligned="yes" Text="Sampling rate:">
          <Condition Action="hide"><![CDATA[(VersionNT64 < 602) OR (HYPERV_PRESENT <> "1")]]></Condition>
        </Control>
        <Control Id="SamplingRate" Type="Edit" Property="SAMPLING_VALUE" X="122" Y="118" Width="130" Height="15">
          <Condition Action="hide"><![CDATA[(VersionNT64 < 602) OR (HYPERV_PRESENT <> "1")]]></Condition>
        </Control>        
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

      <Dialog Id="InvalidPollingDlg" Width="260" Height="85" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24"
                 ToolTip="Information icon" FixedSize="yes" IconSize="32" Text="WixUI_Ico_Exclam" />
        <Control Id="Return" Type="PushButton" X="100" Y="57" Width="56" Height="17"
                 Default="yes" Cancel="yes" Text="&amp;Return">
          <Publish Event="EndDialog" Value="Return" >1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30" TabSkip="no">
          <Text>Invalid polling interval. The polling interval specifies the interval in seconds for counter polling, and must be greater than 0 and less than or equal to 60.</Text>
        </Control>
      </Dialog>

      <Dialog Id="InvalidSamplingDlg" Width="260" Height="85" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24"
                 ToolTip="Information icon" FixedSize="yes" IconSize="32" Text="WixUI_Ico_Exclam" />
        <Control Id="Return" Type="PushButton" X="100" Y="57" Width="56" Height="17"
                 Default="yes" Cancel="yes" Text="&amp;Return">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30" TabSkip="no">
          <Text>Invalid sampling rate. The sampling rate specifies the frequency of packet sampling, and must be greater than 0 and less than or equal to 65536.</Text>
        </Control>
      </Dialog>

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="ConfigDlg">Installed AND PATCH</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ConfigDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
          
      <Publish Dialog="ConfigDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="ConfigDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="ConfigDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>
      <Publish Dialog="ConfigDlg" Control="Next" Event="DoAction" Value="ValidateUI" Order="1">1</Publish>
      <Publish Dialog="ConfigDlg" Control="Next" Event="SpawnDialog" Value="InvalidPollingDlg" Order="2">
        POLLING_VALIDATED = "0"
      </Publish>
      <Publish Dialog="ConfigDlg" Control="Next" Event="SpawnDialog" Value="InvalidSamplingDlg" Order="2">
        (POLLING_VALIDATED = "1") AND (SAMPLING_VALIDATED = "0")
      </Publish>
      <Publish Dialog="ConfigDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">
        POLLING_VALIDATED = "1" AND SAMPLING_VALIDATED = "1"
      </Publish>
      
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ConfigDlg" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="ConfigDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="ConfigDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>
    <UIRef Id="WixUI_Common" />
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="sFlowInstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>
</Wix>
