[Unit]
Description=Host sFlow
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/sbin/hsflowd -u %m -d
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
